a {
	text-decoration: none;
	font-size: 25px;
}
body {
	font-size: 16px;
}
div#login{ 
	margin-left:auto; margin-right:auto; 
	padding-top: 200px;
	width:800px; 
	
}

#loginInput {	
	float:left;
	margin-left:0;
	margin-right:auto;
	background:WhiteSmoke;
	width:400px;
}
#loginLogo {
	float:right;
	margin-left:auto; 
	margin-right:0;
	
}

#css_table {
      display:table;     
  }
.css_tr {
      display: table-row;
  }

.css_td {
      display: table-cell;
      text-align: left;
  }

#foot {
	clear:both;
}

.loginBTN {
	padding-bottom: 2px;
	padding-bottom: 0 9;
	cursor: pointer;
	border: 0;
	vertical-align: middle;
	width: 80px;
	height: 35px;
	background:#3A5FCD;
	font-size: 19px;
	color: white;
}

.cancleBTN {
	padding-bottom: 2px;
	padding-bottom: 0 9;
	cursor: pointer;
	border: 0;
	vertical-align: middle;
	width: 80px;
	height: 35px;
	background:#FF8C00;
	font-size: 19px;
}

